/*css de contact*/
.title_send {
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width:700px)  {
  #map{
    display: none;
  }
}
/*css de gallery*/
#title{
text-align: center;
margin-top: 6%;
margin-bottom: 6%;
}

#container .row .col-md-3 .categorie .nom_cat ul{
    list-style: none;
    margin-bottom: 20px;
}
#container .row .col-md-3 .categorie .nom_cat ul li{
    margin-bottom: 30px;
}
#container .row .col-md-3 .categorie .nom_cat a{
    text-decoration: none;
    color: grey;
}
#container .row .col-md-3 .categorie #cat a{
    color: black;
}
#prod .row  {
    display: flex;
    justify-content: space-around;
}
#prod .row .col-md-3 p{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}
#prod .row .col-md-3 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
}
#prod > .row {
    margin-bottom: 40px;
}
#prod .row .col-md-3 {
    height: 400px;
    background-color: rgb(246, 245, 245);
    border: 0.6px solid #F9B233;
    display: flex;
    align-items:center;
    justify-content: center;
}

#price{
    color: #F9B233;
}

@media (max-width:700px)  {
    #prod > .row {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    #prod .row .col-md-3{
        margin-bottom: 20px;
        width: 80%;
    }

}